{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #main-page-{{ section.id }} {
    background-color: {{ section.settings.main_page_background }};
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding,
  .section-{{ section.id }}-padding h1 {
    color: {{ section.settings.main_page_color }};
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  id="main-page-{{ section.id }}"
  class="inner-main-page"
  style="{%- if section.settings.main_page_image != blank -%}background-image: url({{ section.settings.main_page_image | image_url: width: 2080 | image_tag }}{%- endif -%}"
>
  <div class="page-width page-width--narrow section-{{ section.id }}-padding">
    <h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {{ page.title | escape }}
    </h1>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "main_page_image",
      "label": "Image"
    },
    {
      "type": "color",
      "id": "main_page_color",
      "label": "Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "main_page_background",
      "label": "Background",
      "default": "#ebebeb"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
